* {
  padding: 0; margin: 0; 
}

body{
  background-image: url(https://images.pexels.com/photos/574116/pexels-photo-574116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  color: #ffffff;
  /* font-size: 3em; */
}

#logoImg {
  display: inline;
  margin: 0px 10px;
}

.navbar-brand {
   font-size: 2em;
}

#footerText {
  margin: 1.25em;
}
