/*********************************************************************
***
*Original Author:                                 *Joshua Milbourne
*Date Created:                                    *09/30/20
*Version:                                         *1.0
*Date Last Modified:                              *
*Modified by:                                     *
*Modification log:                                *

        09/30/20  Joshua Milbourne  v1.0  Created forms.css
***
*********************************************************************/

/*********************************************** mobile styles */
/* background */
fieldset {
    margin: 1em;
}
#contact_fieldset {
    background-image: url("../images/comp3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* input styles */
input {
    width: 95%;
    height: 2.25em;
    padding: 0 .5em;
}
.form-input, .error {
    font-size: 16px;
}
label,
.error {
    display: block;
    text-align: center;
}
.error {
    color: red;
}
textarea {
    width: 95%;
    height: 10em;
    padding: 1em;
}
/*********************************** hide results */
.hide {
    display: none;
}

/************************************ tablet and laptop screens */
@media only screen and (min-width: 768px) {
    input {
        width: 50%;
    }
    label {
        padding-right: 1em;
        text-align: right;
    }
    .error {
        text-align: left;

    }
    label,
    .error {
        display: inline-block;
        width: 20%;
    }
    #textarea_label {
        width: 95%;
        display: block;
        line-height: 1em;
        margin-top: 1em;
    }
    .form-input, .error {
        font-size: 20px;
    }
}