
$russian_violet: rgba(13, 6, 48, 1);
$russian_violet_light: rgb(56, 37, 151);
$russian_violet_lighter: rgb(113, 90, 226);
$prussian_blue: rgba(24, 49, 79, 1);
$prussian_blue_light: rgb(56, 99, 151);
$prussian_blue_lighter: rgb(99, 153, 219);
$y_in_mn_blue: rgba(56, 78, 119, 1);
$y_in_mn_blue_light: rgb(77, 105, 156);
$y_in_mn_blue_lighter: rgb(135, 170, 233);
$opal: rgb(0, 148, 131);
$laurel_green: rgba(178, 201, 171, 1);

$lg: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.11));


$clr-white: #ffffff;
$clr-header-background: #ffffff;
$clr-background: #f7f7f7;
$clr-primary: rgb(113, 90, 226);
$clr-primary-light: rgb(163, 145, 255);
$clr-text-dark: #000000;
$clr-text-light: #f8f8f8;
$clr-grey: #808080;
$clr-green: $opal;
$clr-red: #ff5d5d;

$bs-primary: 0 0 5px $clr-grey;

