
.img-container {
    height: 40vh;
    background-color: $clr-grey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    box-shadow: $bs-primary;
}

.image1 {
    background-image: url("../images/homePage.jpg");
}

.image2 {
    background-image: url("../images/photos.jpg");
}

.image3 {
    background-image: url("../images/faq.jpg");
}

.image4 {
    background-image: url("../images/contact.jpg");
}

.image5 {
    background-image: url("../images/11.jpg");
}

.image6 {
    background-image: url('../images/wishList.jpg');
}

.image7 {
    background-image: url('../images/photos.jpg');
}

.image8 {
    background-image: url('../images/reviews.jpg');
}

.image9 {
    background-image: url('../images/bookUs.jpg');
}

.image10 {
    background-image: url('../images/6-1.jpg');
}

.image11 {
    background-image: url('../images/1-8.jpg');
}

.image12 {
    background-image: url('../images/5-1.jpg');
}