@import "colors";
@import "mixins";

section.section-login   {
    @include section-mobile;
    max-width: 30rem;

    .logo {
        margin: 2rem 0 5rem;
    }

    .form-login {

        input {
            margin-bottom: 3rem;
        }

        input[type="submit"] {
            margin-top: 4rem;
            border-radius: 50px;
            background: $clr-primary;
            color: $clr-text-light;
        }
    }
}