/* Joshua Milbourne
    04/15/2020 */


html {
    background-image: radial-gradient(rgb(197, 199, 231), rgb(24, 183, 231));
}

caption {
    font-size: 1.5em;
    color: rgb(53, 99, 0);
}
table {
    width: 100%;
    border: 5px solid rgb(87, 51, 187);
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;

}
th {
    background-color: teal;
    color: whitesmoke;
}
tr:nth-of-type(odd) {
    background-color: violet;
}
.a {
    background-color: slategrey;
}
.b {
    background-color: sandybrown;
}
tfoot {
    color: white;
    text-align: center;
}
