/*Joshua Milbourne
	04/16/2020 */

/* fonts */
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* html styles */
html {
	background-image: url(../images/jewelry.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

/* header styles */
header img {
	display: block;
	float: left;
	border-radius: 50%;
}

/* nav styles */
nav {
	clear: both;
}

nav li {
	list-style-type: none;
	font-size: 1.5em;
}

/* main styles */
main {
	background-image: linear-gradient(#FFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}

/* footer styles */
footer {
	font-size: 1em;
	text-align: center;
	padding: 10px;
}

/* header styles */
h1 {
	font-family: 'Pacifico', cursive, sans-serif;
	font-size: 4em;
}
h2 {
	font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 2em;
}

/* class styles */
.addrightmargin {
	margin-right: 10%;
}

/* id styles */
#outerwrapper {
	border-radius: 15%;
	background-color: rgba(243, 205, 170, .4);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

