.form__heading {
    width: 100%;
    text-shadow: 0.25rem 0.25rem $color-form-heading-text-shadow;
    color: $color-text;
    background: $color-form-heading-background;
    line-height: 5rem;
    padding: $padding-form-heading;
}

.form {
    width: 100%;
    padding-bottom: $padding-form-bottom;

    .form__label {
        color: $color-form-label-text;
        display: block;
        font-size: 2rem;
        line-height: 2rem;
        padding-top: 1.5rem;
    }

    .form__input {
        width: 100%;
        padding: $padding-form-label-top;
        background: $color-form-input-background;
        @include borders (.1rem, solid, $color-form-input-border);
        color: $color-form-input-text;
        font-weight: 900;
        font-style: italic;
        font-size: 2.75rem;

        &:focus {
            background: $color-form-input-focus-background;
            color: $color-text;
        }

        &:invalid {
            background: $color-form-input-invalid-background;
            @include borders (.1rem, solid, $color-form-input-invalid-border);
            color: $color-text;
        }
    }

    .form__textarea {
        width: 100%;
        color: $color-form-textarea-text;
        background: $color-form-textarea-background;
        @include borders (.1rem, solid, $color-form-textarea-border);
        outline: none;
        padding: $padding-form-textarea;
        margin-bottom: $margin-form-textarea-bottom;
    }
}