/* Joshua Milbourne
    04/16/2020 */


/* table styles */
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px outset #000000;
    margin-bottom: 10em;
}
th {
  color: #ffffff;
  background-color: #4C5C68;
  padding: 12px;
}
td {
  padding: 6px;
}
.nodata {
  /* border: 1px solid #858585; */
  background-image: radial-gradient(#00000028, rgba(76, 92, 104, 0.37) );
}
td a {
  display: block;
}
tfoot {
  color: #ffffff;
  background-color: #4C5C68;
}
caption {
  color: #9e1212;
  padding-bottom: 15px;
  font-weight: bold;
}



