*{
    margin:0; 
    padding:0;
}

body{
    background-color:beige;
}

#main_container{
   width:600px;
   margin-top:80px;
   margin-right:auto;
   margin-left:auto;
   padding: 20px;
   background-color:#fff;
   overflow: hidden;
   
   }

.border {
    border:10px solid #666666;
    border-radius: 15px;
    width:100px;
    height:100px;
}

h2{
    font-size: 80px;
    font-family: verdana;
    text-transform:uppercase;
    text-align: center;
    color:#666666;
}

#a{
    float: left;
    margin-left: 240px;
}

#b{
    clear: both;
    float: left;
    margin-left: 180px;
    
}

#c{
    float: left;
}

#d{
    clear: both;
    float: left;
    margin-left: 120px;
}

#e{
    float: left;
}

#f{
    float: left;
}
#b>h2, #f>h2, #b.border, #f.border {
    color: red;
    border-color: red;
}
#c>h2, #e>h2, #c.border, #e.border {
    color: green;
    border-color: green;
}
#a>h2, #d>h2, #a.border, #d.border {
    color: blue;
    border-color: blue;
}
